In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20, 10)
pd.options.mode.chained_assignment = None # To Disable 'SettingWithCopyWarning'

In [2]:
#load csv file
# from google.colab import drive
# drive.mount('/content/drive')

In [3]:
# URL = 'https://drive.google.com/file/d/1M1VcCbuZiR6g5FaBVHGqasFajad4-Iom/view?usp=sharing'
# path = 'https://drive.google.com/uc?export=download&id='+URL.split('/')[-2]
df1 = pd.read_csv('/Users/janithalgewatta/Desktop/Fiverr/final-project/aus-property-sales-sep2018-april2020.csv')
df1.head()

,date_sold,price,suburb,city_name,state,lat,lon,bedrooms,property_type,loc_pid,lga_pid
0,2018-09-18 00:00:00,NaN,Darling Point,Sydney,NSW,-33.869565,151.241317,3,unit,NSW1221,NSW180
1,2018-09-24 00:00:00,NaN,Darling Point,Sydney,NSW,-33.872179,151.239726,3,unit,NSW1221,NSW180
2,2018-09-26 00:00:00,1730000.0,Darling Point,Sydney,NSW,-33.868386,151.237471,2,unit,NSW1221,NSW180
3,2018-09-26 00:00:00,1928000.0,Darling Point,Sydney,NSW,-33.875465,151.236280,3,unit,NSW1221,NSW180
4,2018-10-02 00:00:00,1475000.0,Darling Point,Sydney,NSW,-33.875734,151.233575,3,unit,NSW1221,NSW180

In [4]:
df1.shape

(320334, 11)

In [5]:
df1.groupby('city_name')['city_name'].agg('count')

city_name
Adelaide      32857
Brisbane      32240
Canberra      11101
Melbourne    119180
Perth         39661
Sydney        85295
Name: city_name, dtype: int64

In [6]:
df1.groupby('state')['state'].agg('count')

state
ACT     11101
NSW     85295
QLD     32240
SA      32857
VIC    119180
WA      39661
Name: state, dtype: int64

In [7]:
df2 = df1.drop(['date_sold', 'suburb', 'lat', 'lon', 'loc_pid', 'lga_pid'], axis='columns')
df2.head()

       price city_name state  bedrooms property_type
0        NaN    Sydney   NSW         3          unit
1        NaN    Sydney   NSW         3          unit
2  1730000.0    Sydney   NSW         2          unit
3  1928000.0    Sydney   NSW         3          unit
4  1475000.0    Sydney   NSW         3          unit

In [8]:
df2.isnull().sum()

price            62508
city_name            0
state                0
bedrooms             0
property_type        0
dtype: int64

In [9]:
df3 = df2.dropna()
df3.isnull().sum()

price            0
city_name        0
state            0
bedrooms         0
property_type    0
dtype: int64

In [10]:
df3.shape

(257826, 5)

In [11]:
df3.dtypes

price            float64
city_name         object
state             object
bedrooms           int64
property_type     object
dtype: object

In [12]:
data = df3
data.property_type.unique()

array(['unit', 'house', 'townhouse'], dtype=object)

In [13]:
data.state.unique()

array(['NSW', 'VIC', 'WA', 'SA', 'QLD', 'ACT'], dtype=object)

In [14]:
data.city_name.unique()

array(['Sydney', 'Melbourne', 'Perth', 'Adelaide', 'Brisbane', 'Canberra'],
      dtype=object)

In [15]:
# df3.city_name = pd.Categorical(df3.city_name)
# df3.state = pd.Categorical(df3.state)
# df3.property_type = pd.Categorical(df3.property_type)

# Let us map the variables with 2 levels to 0 and 1
data['unit']=data['property_type'].map({'unit':1, 'house':0, "townhouse": 0})
data['house']=data['property_type'].map({'unit':0, 'house':1, "townhouse": 0})
data['townhouse']=data['property_type'].map({'unit':0, 'house':0, "townhouse": 1})

# Let us map the variables with 2 levels to 0 and 1
data['NSW']=data['state'].map({'NSW':1, 'VIC':0, "WA": 0, "SA": 0, "QLD": 0, "ACT": 0})
data['VIC']=data['state'].map({'NSW':0, 'VIC':1, "WA": 0, "SA": 0, "QLD": 0, "ACT": 0})
data['WA']=data['state'].map({'NSW':0, 'VIC':0, "WA": 1, "SA": 0, "QLD": 0, "ACT": 0})
data['SA']=data['state'].map({'NSW':0, 'VIC':0, "WA": 0, "SA": 1, "QLD": 0, "ACT": 0})
data['QLD']=data['state'].map({'NSW':0, 'VIC':0, "WA": 0, "SA": 0, "QLD": 1, "ACT": 0})
data['ACT']=data['state'].map({'NSW':0, 'VIC':0, "WA": 0, "SA": 0, "QLD": 0, "ACT": 1})

In [16]:
data.head()

,price,city_name,state,bedrooms,property_type,unit,house,townhouse,NSW,VIC,WA,SA,QLD,ACT
2,1730000.0,Sydney,NSW,2,unit,1,0,0,1,0,0,0,0,0
3,1928000.0,Sydney,NSW,3,unit,1,0,0,1,0,0,0,0,0
4,1475000.0,Sydney,NSW,3,unit,1,0,0,1,0,0,0,0,0
5,960000.0,Sydney,NSW,2,unit,1,0,0,1,0,0,0,0,0
7,1615000.0,Sydney,NSW,2,unit,1,0,0,1,0,0,0,0,0

In [17]:
data = data.drop('city_name',axis=1)

In [18]:
data = data.drop('state',axis=1)

In [19]:
data = data.drop('property_type',axis=1)
data.head()

       price  bedrooms  unit  house  townhouse  NSW  VIC  WA  SA  QLD  ACT
2  1730000.0         2     1      0          0    1    0   0   0    0    0
3  1928000.0         3     1      0          0    1    0   0   0    0    0
4  1475000.0         3     1      0          0    1    0   0   0    0    0
5   960000.0         2     1      0          0    1    0   0   0    0    0
7  1615000.0         2     1      0          0    1    0   0   0    0    0

In [20]:
# Split
# Create features variable 
X =data[['bedrooms', "unit", "house", "townhouse", 'NSW',
       'VIC', 'WA', 'SA', 'QLD', 'ACT']]

# Create target variable
y = data['price']

# Train, test, split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state= 10)

In [21]:
# Fit
# Import model
from sklearn.linear_model import LinearRegression

# Create linear regression object
regressor = LinearRegression()

# Fit model to training data
regressor.fit(X_train,y_train)
regressor.score(X_train, y_train)

0.22186501977479045

In [22]:
# Predict
# Predicting test set results
y_pred = regressor.predict(X_test)

In [23]:
# Score It
from sklearn import metrics
print('MAE:',metrics.mean_absolute_error(y_test,y_pred))
print('MSE:',metrics.mean_squared_error(y_test,y_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

MAE: 305720.94936586125
MSE: 254817939757.1433
RMSE: 504794.9482286281

In [24]:
# save regression model to .pickle file
import pickle
filename = '/Users/janithalgewatta/Desktop/Fiverr/final-project/finalized_model.sav'
pickle.dump(regressor, open(filename, 'wb'))

In [25]:
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
print(loaded_model)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
print(X_train)
print(X_test)
print(y_train)
print(y_test)

loaded_model.predict([[2,1,0,0,1,0,0,0,0,0]])

        bedrooms  unit  house  townhouse  NSW  VIC  WA  SA  QLD  ACT
37972          1     1      0          0    0    1   0   0    0    0
286932         4     0      1          0    1    0   0   0    0    0
232158         3     0      1          0    0    0   1   0    0    0
247658         3     0      1          0    0    0   0   1    0    0
120929         4     0      1          0    1    0   0   0    0    0
...          ...   ...    ...        ...  ...  ...  ..  ..  ...  ...
116605         4     0      1          0    1    0   0   0    0    0
226920         3     0      1          0    0    0   1   0    0    0
117981         4     0      1          0    1    0   0   0    0    0
293894         3     0      1          0    0    0   0   0    0    1
104791         5     0      1          0    1    0   0   0    0    0

[206260 rows x 10 columns]
        bedrooms  unit  house  townhouse  NSW  VIC  WA  SA  QLD  ACT
271283         3     0      1          0    0    0   0   0    1    0
86733          4     0      1          0    1    0   0   0    0    0
96792          5     0      1          0    1    0   0   0    0    0
206221         4     0      1          0    0    0   1   0    0    0
108803         3     0      1          0    1    0   0   0    0    0
...          ...   ...    ...        ...  ...  ...  ..  ..  ...  ...
49050          2     1      0          0    0    1   0   0    0    0
211521         3     0      1          0    0    0   1   0    0    0
2763           2     1      0          0    1    0   0   0    0    0
318965         3     0      0          1    0    0   0   0    0    1
177185         2     0      1          0    0    1   0   0    0    0

[51566 rows x 10 columns]
37972      410000.0
286932    1243000.0
232158     620000.0
247658     445000.0
120929     560000.0
            ...
116605     890000.0
226920     335000.0
117981     935000.0
293894     555000.0
104791     765000.0
Name: price, Length: 206260, dtype: float64
271283     845000.0
86733     2250000.0
96792     1680000.0
206221     412000.0
108803    1102000.0
            ...
49050      580000.0
211521     450000.0
2763      1030000.0
318965     467000.0
177185     872000.0
Name: price, Length: 51566, dtype: float64

array([902788.])

In [27]:
loaded_model.predict([[4,0,1,0,0,1,0,0,0,0]])

array([1001336.])

In [28]:
regressor.score(X_test, y_test)

0.25091599282196997

In [29]:
# tmp = regressor.predict(X)
# plt.scatter(X, y)
# plt.plot(X, tmp)

print(X)
print(y)

        bedrooms  unit  house  townhouse  NSW  VIC  WA  SA  QLD  ACT
2              2     1      0          0    1    0   0   0    0    0
3              3     1      0          0    1    0   0   0    0    0
4              3     1      0          0    1    0   0   0    0    0
5              2     1      0          0    1    0   0   0    0    0
7              2     1      0          0    1    0   0   0    0    0
...          ...   ...    ...        ...  ...  ...  ..  ..  ...  ...
320328         2     0      0          1    0    0   0   0    0    1
320330         3     0      0          1    0    0   0   0    0    1
320331         3     0      0          1    0    0   0   0    0    1
320332         3     0      0          1    0    0   0   0    0    1
320333         2     0      0          1    0    0   0   0    0    1

[257826 rows x 10 columns]
2         1730000.0
3         1928000.0
4         1475000.0
5          960000.0
7         1615000.0
            ...
320328     439900.0
320330     549900.0
320331     499900.0
320332     434000.0
320333     420000.0
Name: price, Length: 257826, dtype: float64